/* purgecss start ignore */
/* * * * * * * * * BRAND specific CSS * * * * * * * * */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}


/* * * * Header * * * */
#masthead {
  z-index: 10;
}
.logo {
  width: 80%;
}
img.logo-image {
  max-width: 340px;
}


/* * * * * * * * Search * * * * * * * */
form.search-form {
  display: inline-block;
}
.search-field {
 min-width: 200px
}
.search-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.search-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
.search-field::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.logo-title-search {
  height: 50%;
}


/* * * * * * * * content #primary.content-area * * * * * * * */

/* showing left-hand sidebar */
@media (min-width: 768px) {
  .content-area {
    float: right;
    margin: 0 0 0 -20rem;
    width: 100%;
  }
  .site-main {
    margin: 0 0 0 20rem;
    padding-top: 2rem;
  }
  .site-content .sidebar {
    display: block;
    float: left;
  }
.site-content .widget-area {
    float: left;
    overflow: hidden;
    width: 19rem;
  }
  .site-footer {
    clear: both;
    width: 100%;
  }
  .no-sidebar .content-area {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .no-sidebar .site-main {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .content-area {
    margin: 0 0 0 -25rem;
  }
  .site-main {
    margin: 0 0 0 25rem;
  }
}


/* * * * * * * * site-content content-area site-main * * * * * * * */
/* hiding title since in sidebar menu  */
@media (min-width: 768px) {
  .site-main .entry-title {
    text-indent: -5000px;
  }
}


/* * * * * * * * Footer * * * * * * * */
.footer-logo {
  width: 125px;
  height: auto;
  margin: 0 auto;
}
.footer-widget-title {
  color: #ffcb05;
  font-weight: bold;
  text-transform: uppercase;
}
.marker {
  padding-left: 2rem;
  margin-top: 1rem;
  background: url(../../img/map-marker-solid.svg) left top no-repeat;
  background-size: 1rem;
}
.phone {
  background-image: url(../../img/phone-handset-solid.svg);
}
.site-footer h4,
.site-footer h5 {
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 500;
}
.site-footer h5 {
  color: white;
  font-size: .75rem;
  font-weight: normal;
  text-transform: capitalize;
}
.footer-menu a {
  display: block;
  padding: .25rem 0;
  margin: .25rem 0;
}
.footer-menu a:hover,
.footer-menu a:focus {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footer-logo {
  margin: 0;
  }
  .footer-menu li {
    border-right: 1px solid #ffcb05;
  }
  .footer-menu a {
    display: block;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
  }
  .footer-menu li:first-child {
    padding-left: 0;
  }
  .footer-menu li:last-child {
    border: none;
    padding-right: 0;
  }
}

/* * * * * * * end of BRAND specific CSS * * * * * * * */
/* purgecss end ignore */