   .accordion {
      text-align: left;
      margin: 3rem 0 4rem;
      position: relative;
   }
   .accordion article {
      padding: 1rem;
      background: white;
      margin-bottom: 1rem;
   }

   /* * * * CLOSED = default styling * * * */
   .accordion input[type="checkbox"],
   .accordion input[type="radio"] {
      background-color: transparent;
      border: 1px solid transparent;
      height: 1px;
      position: absolute;
      right: 100px;
      top: 1rem;
      width: 1px;
      margin: 4px 0 0 0;
      outline: none;
   }
   .accordion input[type="checkbox"] + label,
   .accordion input[type="radio"] + label {
      background: #bdbdbd;
      border-bottom: 1px solid #fff;
      color: #000;
      cursor: pointer;
      display: block;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0.75rem 1rem;
      position: relative;
      z-index: 20;
      margin-top: 1rem;
   }
   .accordion input[type="checkbox"] + label:hover,
   .accordion input[type="radio"] + label:hover {
      background: #00274c;
      color: white;
   }
   .accordion input[type="checkbox"] + label + article,
   .accordion input[type="radio"] + label + article {
      display: none;
      /* display: none; - Content is ignored by screen readers, additionally stops tabbing through hidden content */
      height: 0;
      max-height: 0;
      overflow: hidden;
   }

   /* * * * OPEN * * * */
   .accordion input[type="checkbox"]:checked + label,
   .accordion input[type="radio"]:checked + label {
      background: #bdbdbd;
   }
   .accordion input[type="checkbox"]:checked + label:hover,
   .accordion input[type="radio"]:checked + label:hover {
      background: #00274c;
      color: white;
   }
   .accordion input[type="checkbox"]:checked + label + article,
   .accordion input[type="radio"]:checked + label + article {
      display: block;
      height: auto;
      max-height: 2000px;
   }

   /* * * * open/closed icons * * * */
   .accordion input[type="checkbox"] + label:after,
   .accordion input[type="radio"] + label:after {
      content: url(../../img/add-solid.svg);
      float: right;
      padding-left: 1rem;
      width: 2.5rem;
      height: auto;
   }
   .accordion input[type="checkbox"] + label:hover::after,
   .accordion input[type="radio"] + label:hover::after {
      content: url(../../img/add-solid-hover.svg);
   }
   .accordion input[type="checkbox"]:checked + label:after,
   .accordion input[type="radio"]:checked + label:after {
      content: url(../../img/minus-solid.svg);
   }
   .accordion input[type="checkbox"]:checked + label:hover::after,
   .accordion input[type="radio"]:checked + label:hover::after {
      content: url(../../img/minus-solid-hover.svg);
   }