/* * * * * * * * Cards * * * * * * * */
   .card-container {
      display: flex;
      flex-wrap: wrap;
   }

   .card {
      margin-bottom: 4rem;
      height: 250px;
      background: white;
   }
  .card__title {
      padding: 1.25rem 1.25rem 0 1.25rem;
      border-bottom: 1px solid rgba(0,0,0,.1);
   }
   .card__title:after {
      padding-left: 0.5rem;
      content: url(../../img/arrow-alt-circle-right-solid-sm.svg);
      width: auto;
      height: 1rem;
   }
   .card p:after {
      padding-left: 0.5rem;
      content: ">";
      color: #024794;
      font-weight: 700;
   }
   .card a {
      text-decoration: none;
      color: inherit;
   }
   .card a:hover {
      text-decoration: none;
   }


   /* Custom image placement for Homepage cards */
   .logos img {
     object-position: 85% 50% !important;
   }
   /* .design img {
   } */
   .editorial img {
     object-position: 40% 75% !important;
   }
   .campus img {
     object-position: 45% 60% !important;
   }
   .trademark img {
     object-position: 0 70% !important;
   }
   @media (min-width: 768px) {

   }