/* * * * * * * * Cards * * * * * * * */
   .card-container {
      display: flex;
      flex-wrap: wrap;
   }

   .card {
      margin-bottom: 4rem;
      /* height: 250px; */
      background: white;
   }
  .card__title {
      padding: 1.25rem 1.25rem 0 1.25rem;
      border-bottom: 1px solid rgba(0,0,0,.1);
   }
   .card__title:after {
      padding-left: 0.5rem;
      content: url(../../img/arrow-alt-circle-right-solid-sm.svg);
      width: auto;
      height: 1rem;
   }
   .card p:after {
      padding-left: 0.5rem;
      content: ">";
      color: #024794;
      font-weight: 700;
   }
   .card a {
      text-decoration: none;
      color: inherit;
   }
   .card a:hover {
      text-decoration: none;
   }

   .card figure img {
      margin-top: 0;
   }


   /* Custom image placement for Homepage cards */
   .logos img {
      max-width: 300%;
   }
   .design img {
      max-width: 300%;

   }
   .editorial img {
      max-width: 300%;
      height: 100%
   }
   .campus img {
      max-width: 300%;

   }
   .trademark img {
      max-width: 300%;

      height: 100%;
   }

   @media (min-width: 429px) {

   }
   @media (min-width: 429px) {

   }

   @media (min-width: 556px) {

   }
   @media (min-width: 623px) {

   }
   @media (min-width: 692px) {

   }
   @media (min-width: 1152px) {

   }