/* * * * Hamburger * * * */
.hamburger {
  max-width: 20%;
  float: right;
  padding: 1.125rem .75rem .75rem .75rem;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible;
}
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    /* margin-top: -2px; */
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 40px;
    height: 4px;
    background: #fafafa;
    /* background-color: var(--white); */
    /* color: inherit; */
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}
.hamburger-inner:after, .hamburger-inner:before {
    content: "";
    display: block;
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    bottom: -10px;
}
.hamburger-fade {
  /* display: none; */
  z-index: 2;
  width: 100vh;
  /* margin-top: 190px; same as .main-nav { top: 190px;} */
}

