/* * * * * * * * content aside#secondary.widget-area * * * * * * * */
/* styling of left-hand sidebar and sidebar menu */

/* Hiding the page title because it is included in the sidebar menu */
.site-main .entry-title {
  text-indent: -5000px;
}

.sidebar-header {
  background-color:#ffcb05;
  padding: 1.5rem 1rem 0.5rem;
  max-width: 260px;
}
.sidebar-parent-title {
  display: block;
  /* line-height: 2; */
  margin-bottom: .5rem;
  text-transform: uppercase;
  color: #00274c;
  font-size: .90rem;
  font-weight: 900;
  }
.sidebar-page-title {
  color: #ffcb05;
  font-size: 1.5rem;
  line-height: .95;
  font-weight:900;
  text-transform: uppercase;
  color: #00274c;
}
.advanced-sidebar-menu {
  background: white;
  max-width: 260px;
  padding-left: 0;
}
.child-sidebar-menu {
  padding-top: 26px;
  background: url(../../img/triangle-icon.png) 1rem top no-repeat;
  padding-bottom: 0.5rem;
  background-color: white;
}
.child-sidebar-menu a {
  display: block;
  padding: .5rem 1rem;
  font-weight: 700;
}

/* Current Page */
.child-sidebar-menu .current_page_item > a {
  background-color: #00274c;
  color: white;
}
/* Parent / Grandparent */
/* .child-sidebar-menu .current_page_ancestor > a {
  background-color:rgba(0, 39, 76, .25);
  color: black;
} */
/* Grandchild */
.children {
  display: block;
  font-size: 100%;
  margin-left: 0;
}
.children a {
    padding-left: 2rem;
  color: black;
}
/* grandchild of active menu item */
.children .current_page_item > a {
  background-color:#c7c8ca;
  color: #000;
  border-bottom: 1px solid #fff;
}
/* All - hover */
.child-sidebar-menu a:hover,
.child-sidebar-menu a:focus {
  background-color:#ffcb05;
  color:black;
}
.child-sidebar-menu a:active {
  background-color: #00274c;
  color: white;
}

@media (min-width: 768px) {

}