table {
  margin: 4rem 0;
}

table caption {
  /* Same styling as H5 */
  text-transform: uppercase;
  font-size: 1.125rem; /* text-lg */
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: left;
}
/* table.advgb-table-frontend td, table.advgb-table-frontend tr {
  border: none;
} */

.wp-block-advgb-table thead tr:last-child td {
    border-bottom: none;
}
table.advgb-table-frontend td,
table.advgb-table-frontend th {
  padding: .75rem 1rem .75rem 3rem;
  border-bottom:  1px solid #bdbdbd;
  text-align: left;
  vertical-align: top;
}
tr.center td {
   text-align: center;
   padding-left: 1rem;
}

thead {
  font-weight: 700;
  text-transform: uppercase;
}
thead td, thead th {
  padding-left: 0;
  /* border-bottom:  2px solid #000; */
  text-align: left;
  vertical-align: bottom;
}
table tbody tr:first-child td,
table tbody tr:first-child th {
    border-top: 2px solid #000000;
}
table tbody tr:last-child td,
table tbody tr:last-child th {
    border-bottom: 2px solid #000000;
}
tbody th {
  font-weight: normal;
}
tbody td, tbody th {
  padding: .5rem 0;
  padding-left: 3rem;
  /* border-bottom-width:  1px; */
  text-align: left;
  vertical-align: top;
}
tbody td:first-child, tr th:first-child {
   padding-left: 1rem;
   padding-left: 0;
}

tfoot {
  font-size: .75rem;
  border-bottom: none;
}
tfoot th, tfoot td {
  border: none;
  padding: .5rem 1rem;
}

 /* * * * * * * * Table - Plain with digital assets * * * * * * * */

table.plain {
  width: 100%;
  margin: 2rem 0;
}
table.plain tbody tr:last-child *,
table.plain tbody tr:first-child *
{
  border: 0;
}
table.plain a {
  display: inline-block;
  margin-top: .25rem;
}
table.plain tbody td,
table.plain tbody th {
  padding: 0 2rem 2rem 0;
}

table.plain img {
  width: 100%;
}
 /* * * * * * * * Table with Swatches * * * * * * * */
table.swatches td {
  padding: 1rem 0;
  border-bottom: 1px solid #bdbdbd;
}
table.swatches th {
  padding-left: 0;
}
.site-main .swatches p {
  display: inline-block;
}
.swatch {
  width: 2rem;
  height: 2rem;
  float: left;
  margin-right: .5rem;
  margin-bottom: .5rem;
  background-color: #FFCB05;
  border: 2px solid #FFCB05;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: .125rem;
}
.maize {
  background-color: #FFCB05;
  border-color: #FFCB05;
  color: #00274C;
}
.blue {
  background-color: #00274C;
  border-color: #00274C;
  color: #FFCB05;
}
.white {
  background-color: white;
  border-color: #00274C;
  color: #00274C;
}
 /* Larger swatch size for non-mobile */
@media (min-width: 768px) {
  .swatch {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    padding-top: .5rem;
  }
}
 /* * * * * * * * Zebra stipes * * * * * * * */
table.zebra tr:nth-child(even) {
  background: white;
}
table.zebra tr:nth-child(1) {
  background:transparent;
}
table.zebra thead th {
  text-align: center;
}
.zebra tbody td:first-child, .zebra tr th:first-child {
   padding-left: 1rem;
}
 /* * * * * * * * Rules * * * * * * * */
table.rules th,
table.rules td {
   border-right: 1px solid rgba(0, 0, 0, 0.2);
}
table.rules th:last-child,
table.rules td:last-child {
   border-right: none;
}

 /* * * * * * * * Center TD content * * * * * * * */
table.center td {
    padding: .75rem 1rem .75rem 1rem;
    text-align: center;
}
table.center td:first-child {
  text-align: left;
}

 /* * * * * * * * Degree Tables * * * * * * * */
table.degrees {
  margin: 1rem 1rem 1rem 2rem;
  font-size: .9rem;
}
table.degrees td {
  margin:0;
  padding-left: 0;
  padding-right: 1rem;
}



@media (min-width: 768px) {
  table.advgb-table-frontend  {
    max-width: 136%;
  }
  /* table.full-wide {
    position: relative;
    left: -20rem;
    width: 135%
  } */
}